<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.masterConnectionString"
            connectionString="Data Source=DESKTOP-MILUGA6;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.adayPersonelConnectionString"
            connectionString="Data Source=DESKTOP-MILUGA6;Initial Catalog=adayPersonel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.Bulanik_AhpConnectionString"
            connectionString="Data Source=SEYFI\SQLEXPRESS;Initial Catalog=Bulanik_Ahp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>